@model IEnumerable<LicenseeManager.Models.LicenseType>

<table class="table">
    <thead>
        <tr>
            <th><a href="#" class="sort-link" data-sort="Name">Name</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LicenseTypeID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LicenseTypeID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LicenseTypeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
